img {
    display: none;
}

.button-container {
    position: relative;
    display: inline-block;
    
  }
  
  .button {
    margin-top: 100px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    transform: translateY(-10px);
  }
  
  .button-container:hover .button {
    animation: runAway 2s infinite linear;
  }
  @keyframes runAway {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .disabled-button {
    opacity: 0; /* Делаем кнопку прозрачной */
    pointer-events: none; /* Отключаем события клика */
    position: absolute; /* Помещаем кнопку за пределы видимости */
    top: -100px;
    left: -100px;
    display: none;
  }

  .btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s;
  }
  
  .btn-clicked {
    transform: scale(1.1);
  }